{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid text-center mt-0">
          <div class="container">
            
            
            

            
            <p align=left>
              
              <h4 class="p-3 mb-2 bg-info text-white">Rule number 95, kid. Concentrate!</h4><br><br>

              <hr>
              <a class="btn btn-primary" href="https://rainymood.com/" target="_blank" role="button" align="left">Rainy Mood</a><br><br>
              Rain Sounds for Sleep & Study

              <hr>
              <a class="btn btn-primary" href="https://www.noisli.com/" target="_blank" role="button" align="left">Noisli</a><br><br>
              Improve focus and boost your productivity. Mix different sounds and create your perfect environment.

              <hr>
              <a class="btn btn-primary" href="http://arkanath.com/MusicWalker/" target="_blank" role="button" align="left">Music Walker</a><br><br>
              Input a song and get a playlist of similar songs.
              
            </p>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
