{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid text-center mt-0">
          <div class="container">
            
            
            

            
            <p align=left>
              
              <h4 class="p-3 mb-2 bg-info text-white">Useful Websites</h4><br><br>
              <hr>

              <a class="btn btn-primary" href="https://online2pdf.com/" target="_blank" role="button" align="left">Online PDF-Converter</a><br><br>
              Online PDF-Converter with ability to edit, merge, remove password and unlock PDF
              <hr>

              <a class="btn btn-primary" href="https://smallpdf.com/" target="_blank" role="button" align="left">Smallpdf</a><br><br>
              We make PDF easy. All-in-one easy-to-use online PDF tools.
              <hr>

              <a class="btn btn-primary" href="https://www.quantumonline.com/search.cfm" target="_blank" role="button" align="left">QuantumOnline</a><br><br>
              Here you can search for <b>US preferred issues</b> by ticker, secID and Name.
              <hr>

              <a class="btn btn-primary" href="https://www.10bestseo.com/url-opener/" target="_blank" role="button" align="left">URL Opener</a><br><br>
              We make PDF easy. All-in-one easy-to-use online PDF tools.
              <hr>

              <a class="btn btn-primary" href="https://www.google.com/advanced_search" target="_blank" role="button" align="left">Google Advanced Search</a><br><br>
              Goolge search with advanced fields to filter the results.
              <hr>

              <br><br><h4 class="p-3 mb-2 bg-info text-white">Chrome Addons</h4><br><br>

              <hr>
              <a class="btn btn-primary" href="https://chrome.google.com/webstore/detail/link-klipper-extract-all/fahollcgofmpnehocdgofnhkkchiekoo" target="_blank" role="button" align="left">Link Klipper - Extract all links</a><br><br>
              Open a whole list of URLs at the same time! Paste URLs into the field below and press Submit.

              <hr>
              <a class="btn btn-primary" href="https://chrome.google.com/webstore/detail/onetab/chphlpgkkbolifaimnlloiipkdnihall" target="_blank" role="button" align="left">OneTab</a><br><br>
              Close every tab while saving them into one for later opening.

            </p>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
